@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root{
    --background-color: rgb(83, 83, 83);
    --box-shadow: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: 0;
    list-style: none;

}


#logo{
    width: 150px;
}

header{
    display: flex;
    width: 100%;
    top: 0;
    justify-content: space-between;
    height: 18%;
    background-color: var(--background-color);
    box-shadow:  0px 4px 50px var(--box-shadow);
    position: fixed;
    z-index: 10;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navmenu{
    display: flex;
    align-items: center;
    margin: auto;
}

.navitem{
    margin-left: 150%;
    font-family: 'Bebas Neue', sans-serif;
}

.navlink{
    text-decoration: none;
    font-size: 28px;
    color: var(--cor-fonte-menu);
    font-weight: 600;
}

.navlink:hover{
    color: white;
}

.titulo_sobre{
    margin-top: 14%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    padding-left: 39%;
    font-weight: 600;
}

.sobre{
    background-color: rgb(197, 195, 195);

}

#enfeite{
    background-color: var(--background-color);
}

.texto_sobre{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 599px;
    width: 89%;
    text-align: center;
    text-align: justify;
    padding-left: 10%;
    
}

.titulo_produtos{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    padding-left: 45%;
    font-weight: 600;  
    margin-top: 4%;
}

.produtos{
    display: flex;
    margin: 10%;

}

.card {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,gray, rgb(83, 83, 83) 50%,black);
  }
  
  .card__content {
    background: rgb(53, 52, 52);
    border-radius: 17px;
    width: 100%;
    height: 100%;
  }

#chatgpt{
    width: 230px;
    height: 100px;
    text-align: center;
    padding-right: 45px;
    margin-top: 10%;
}

.titulo_card{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 600;
    padding-left: 30%;
    margin-top: 9%;
}

.card_2 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,rgba(0, 0, 255, 0.705), pink 50%,purple);
  }
  
.card__content_2 {
    background: rgb(53, 52, 52);
    border-radius: 17px;
    width: 100%;
    height: 100%;
  }

#gamma{
    width: 115px;
    height: 70px;    
    border-radius: 5px;
    text-align: center;
    margin-top: 15%;
    padding-left: 30%;
    
}

.titulo_card_2{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 600;
    padding-left: 30%;
    margin-top: 22%;
}

.card_3 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,gray, rgb(83, 83, 83) 50%,black);
  }
  
.card__content_3 {
    background: rgb(53, 52, 52);
    border-radius: 17px;
    width: 100%;
    height: 100%;
  }

#Midjourney{
    width: 128px;
    height: 78px;    
    border-radius: 5px;
    text-align: center;
    margin-top: 15%;
    padding-left: 30%;
    
}

.titulo_card_3{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 600;
    padding-left: 27%;
    margin-top: 17%;
}

.card_4 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,gray, rgb(83, 83, 83) 50%,rgba(255, 0, 0, 0.753));
  }
  
.card__content_4 {
    background: rgb(53, 52, 52);
    border-radius: 17px;
    width: 100%;
    height: 100%;
  }

#kaiber{
    width: 128px;
    height: 78px;    
    border-radius: 5px;
    text-align: center;
    margin-top: 15%;
    padding-left: 30%;
    
}

.titulo_card_4{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 600;
    padding-left: 27%;
    margin-top: 17%;
}

.card_5 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg, rgb(0, 247, 255), purple 50%,pink);
  }
  
.card__content_5 {
    background: rgb(53, 52, 52);
    border-radius: 17px;
    width: 100%;
    height: 100%;
  }

#jasper{
    width: 138px;
    height: 88px;    
    border-radius: 5px;
    text-align: center;
    margin-top: 15%;
    padding-left: 25%;
    
}

.titulo_card_5{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 600;
    padding-left: 33%;
    margin-top: 13%;
}

#timely{
    width: 120px;
    height: 76px;    
    border-radius: 5px;
    text-align: center;
    margin-top: 15%;
    padding-left: 30%;
}

.card_6 {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg, rgb(168, 18, 255), rgb(168, 18, 255) 50%,purple);
  }
  
.card__content_6 {
    background: rgb(53, 52, 52);
    border-radius: 17px;
    width: 100%;
    height: 100%;
  }

.titulo_card_6{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 600;
    padding-left: 33%;
    margin-top: 20%;
}

.produtos{
    justify-content: space-evenly;
}

.titulo_fotos{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    padding-left: 46%;
    font-weight: 600;  
    margin-top: 13%;
}

#img1{
    width: 16%;
    height: 16%;
}

#img2{
    width: 27%;
    height: 16%;
}

#img3{
    width: 16%;
    height: 16%;
}

#img4{
    width: 16%;
    height: 16%;
}

#img5{
    width: 25%;
    height: 30%;
}


#img6{
    width: 20%;
    height: 20%;
}

#img7{
    width: 20%;
    height: 20%;
}

#img8{
    width: 20%;
    height: 20%;
}

#img9{
    width: 20%;
    height: 20%;
}

.fotos{
    justify-content: space-evenly;
    padding-left: 10%;
}

footer{
    background-color: black;
    height: auto;
    width: 100%;
    font-family: 'Bebas Neue', sans-serif;
    padding-top: 40px;
    color: white;
    margin-top: 5%;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-contente h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials a{
    text-decoration: 0;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    
}

.socials a:hover{
    color: red;
}
